<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">

        <title>Hotel Booking Analytics</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet"

        href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>

        <nav class="navbar navbar-dark bg-primary">

        <div class="container-fluid">

            <a class="navbar-brand">

            Hotel Booking Analytics Dashboard

            </a>

        </div>

        </nav>

        <div class="container-fluid">

            <div class="row">

                 <div class="col-md-2 sidebar">

                    <ul class="nav flex-column mt-4">

                        <li class="nav-item">

                            <a class="nav-link"

                                href="/">🏠 Dashboard</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                                href="/booking">📅 Booking Analytics</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                            href="/customer">👥 Customer Analytics</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                            href="#">❌ Cancellation</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                            href="#">💰 Revenue</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                            href="#">📊 Statistics</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link"

                            href="#">📄 Reports</a>

                        </li>

                    </ul>

                </div>

                <div class="col-md-10 mt-4">

                    {% block content %}

                    {% endblock %}

                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        

    </body>

</html>