{% extends "base.html" %}

{% block title %}
View Resume
{% endblock %}

{% block content %}

<div class="card shadow border-0">

    <div class="card-header bg-primary text-white">

        <h4 class="mb-0">
            Candidate Resume
        </h4>

    </div>

    <div class="card-body">

        <iframe
            src="{{ url_for('static', filename='uploads/resumes/' + filename) }}"
            width="100%"
            height="850"
            style="border:none;">

        </iframe>

    </div>

</div>

{% endblock %}