[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
ipykernel = "*"
scikit-learn = "*"
xgboost = "*"
lightgbm = "*"
catboost = "*"
statsmodels = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.13"
